#app {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.grid>div {
    margin: 3em 0;
}

.grid>div>img {
    display: block;
}

.grid>div>button {
    display: block;
    margin-top: 0.5em;
}